body{
    background-color: aliceblue;
    transition: all 0.5s ease;
}

main{
font-family: 'Merriweather', serif;
text-align: center;
}

h1{
    margin-top: 7%;
}
section{
    font-family: inherit;
    max-width: 60vw;
    margin:  0 auto;
    margin-top: 15%;
}

